<!-- goals/index -->

<h2>My Goals</h2>

<% @user.goals.each do |goal| %>
  <ul>
    <li><%= goal.title unless current_user.id != goal.owner_id %></li>
  </ul>
<% end %>


<%= link_to "Create New Goal", new_user_goal_url(current_user)%>

<%= link_to "Users", users_url %>