<!-- goals/index -->

<h2>My Goals</h2>

<% @goals.each do |goal| %>
  <ul>
    <li>
      <%= link_to goal.title, user_goal_url(goal.owner, goal) %>
    </li>
  </ul>
<% end %>


<%= link_to "Create New Goal", new_user_goal_url(current_user)%>

<%= link_to "Users", users_url %>