<!-- goals/new -->

<h2>New Goal</h2>


<form action="<%= user_goals_url(@user) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

<p>
  <label>
    Title
    <input name="goal[title]" value="<%= @goal.title %>">
  </label>
</p>

<p>
  <label>
    Description
    <input name="goal[description]" value="<%= @goal.description %>">
  </label>
</p>

<p>
  <input type="radio" name="goal[hidden]" id="Public" value="false" checked="checked">Public
  <br>
  <input type="radio" name="goal[hidden]" id="Private" value="true">Private
</p>

  <p><input type="submit" value="Create This Goal"></p>
</form>


